@{
    Layout = null;
}
<form asp-action="AddNewCustomer" method="post">
    <label for="fname">CustomerName:</label>
    <input type="text" id="fname" name="CustomerName" value=""><br>

    <label for="lname">Mobile:</label>
    <input type="number" id="lname" name="Mobile" value=""><br>

    <label for="lname">Birthday:</label>
    <input type="date" id="lname" name="Birthday" value=""><br>

    <label for="lname">IdentityCard:</label>
    <input type="number" id="lname" name="IdentityCard" value=""><br>
    <label for="lname">LicenceNumber:</label>
    <input type="number" id="lname" name="LicenceNumber" value=""><br>
    <label for="lname">LicenceDate:</label>
    <input type="date" id="lname" name="LicenceDate" value=""><br>
    <label for="lname">Email:</label>
    <input type="email" id="lname" name="Email" value=""><br>
    <input type="submit" value="Submit">
</form>